# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.*

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated Schema Files
db_schema.dot
db_schema_dump.py

# Sensitive/Local Files
tmf_marketplace_postman_collection.json
*.sqlite3
*.pem
.DS_Store
